@media (min-width: 500px){
  body{
    background:black;
  }
}
@media (max-width: 10px){
  body{
    background:red;
  }
}
  p{
    color: white;
    text-align: center;
    font: helvetica;
  }
  form{
    color: white;
    text-align: center;
    font: helvetica;
  }
  h1{
    color: white;
    text-align: center;
    font: helvetica;
  }
  h2{
    color: white;
    text-align: center;
    font: helvetica;
  }
  #foto{

  }
  #butoes{
    padding: 5px;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  input{
    text-align: center;
    padding: 5px;
  }
  button{
    width: 150px;
    color: gray;
    background-color: white;
    border-style: ridge;
  }
  button:hover{
    color: black;
    background-color: grey;
  }
  .bold{
    color: white;
  }
